.my-cards-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #fff4;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.my-cards-button:hover {
    background-color: #fff2;
    text-decoration: none;
}

.my-cards-button i{
    color: #fff;
    text-decoration: none;
}

body.as-hide-snow .snowflakes-box,
body.as-hide-snow .snowball-box {
    display: none !important;
    visibility: hidden !important;
}
