.trade__list .trade__list-item {
  position: relative;
}

.ass-trade-preview {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.trade__list .trade__list-item .ass-trade-preview img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #444;
}

.ass-trade-cached-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  gap: 16px;
  padding: 10px;
}

.ass-trade-cached-list .history__body-item {
  width: 144px;
}
