.history__list.big-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  gap: 16px;
  padding: 10px;
}

.history__list.big-images .history__body-item {
  width: 144px !important;
}

.history__inner:has(.history__list.big-images) {
  width: 100% !important;
}
